# Node.js
node_modules/
.env
dist/
.cache/
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Next.js / Vite / React / Tailwind
out/
build/
*.local
*.log

# TypeScript
*.tsbuildinfo

# Editor configs
.idea/
*.swp

# Others
coverage/
